#BANANA {
  position: fixed;
  z-index: -1000000000000;
  top:-10;
  left:-10;
}

#header{
position: absolute;
z-index: -10;
height: 100;
left: 510;
top: -5
}

#pointMeter{
position: fixed;
z-index: 10;
height: 100;
left: -20;
}

#points {
position: fixed;
color: black;
font-size: 50;
text-align: center;
font-family: fantasy;
top: -10;
z-index: 100

}

h1 {
  color: black;
  font-size: 50;
  text-align: center;
  font-family: fantasy;
}

.Monkeys {
  height: 500;
}
